@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Muli", sans-serif;
    background-color: #22223b;
    color: #f2e9e4;
}

.nav-container {
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
}

input[type="text"] {
    padding: 8px 30px;
    font-size: 14px;
    border-radius: 5px;
    font-family: inherit;
}

.btn {
    background-color: var(--line-border-fill);
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-family: inherit;
    font-size: 14px;
    padding: 8px 30px;
    margin-left: 5px;
}

.btn:active {
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}
